{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
<div class="card text-center mt-5">
  <div class="card-header">
    Bienvenu! 
  </div>
  <img  src="https://5304282f92ff1d1b19c1-8a2ebff5f6260504c3c482982d840415.ssl.cf3.rackcdn.com/images/wine-knowledge/food-and-wine/food-and-wine-top-banner.jpg" class="card-img-bottom" alt="...">
  <div class="card-body">
    <h5 class="card-title">Gerer Vos Regime</h5>
    <a href="/inscri" class="btn btn-primary">Inscription</a>
    <a href="/login" class="btn btn-outline-primary">Login</a>
  </div>
  <div class="card-footer text-muted">
    Mini Projet Symfony - Alaa Ben Nasr - A.U/2023
  </div>
</div>
</div>
{% endblock %}
